/*--------------------- Layout and Typography ----------------------------*/
body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  font-size: 15px;
  line-height: 22px;
  color: #252519;
  margin: 0; padding: 0;
}
a {
  color: #252519;
}
p {
  margin: 0 0 15px 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0px 0 15px 0;
}
  h1 {
    margin-top: 40px;
  }
#container {
  position: relative;
}
#background {
  position: fixed;
  top: 0; left: 525px; right: 0; bottom: 0;
  background: #202020;
  z-index: -1;
}
#jump_to, #jump_page {
  background: white;
  -webkit-box-shadow: 0 0 25px #777; -moz-box-shadow: 0 0 25px #777;
  -webkit-border-bottom-left-radius: 5px; -moz-border-radius-bottomleft: 5px;
  font: 10px Arial;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
}
#jump_to, #jump_wrapper {
  position: fixed;
  right: 0; top: 0;
  padding: 5px 10px;
}
  #jump_wrapper {
    padding: 0;
    display: none;
  }
    #jump_to:hover #jump_wrapper {
      display: block;
    }
    #jump_page {
      padding: 5px 0 3px;
      margin: 0 0 25px 25px;
    }
      #jump_page .source {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        border-top: 1px solid #eee;
      }
        #jump_page .source:hover {
          background: #f5f5ff;
        }
        #jump_page .source:first-child {
        }
table td {
  border: 0;
  outline: 0;
}
  td.docs, th.docs {
    max-width: 450px;
    min-width: 450px;
    min-height: 5px;
    padding: 10px 25px 1px 50px;
    overflow-x: hidden;
    vertical-align: top;
    text-align: left;
  }
    .docs pre {
      margin: 15px 0 15px;
      padding-left: 15px;
    }
    .docs p tt, .docs p code {
      background: #f8f8ff;
      border: 1px solid #dedede;
      font-size: 12px;
      padding: 0 0.2em;
    }
    .pilwrap {
      position: relative;
    }
      .pilcrow {
        font: 12px Arial;
        text-decoration: none;
        color: #454545;
        position: absolute;
        top: 3px; left: -20px;
        padding: 1px 2px;
        opacity: 0;
        -webkit-transition: opacity 0.2s linear;
      }
        td.docs:hover .pilcrow {
          opacity: 1;
        }
  td.code, th.code {
    padding: 14px 15px 16px 25px;
    width: 100%;
    vertical-align: top;
    background: #202020;
    color: #d0d0d0;
  }
    pre, tt, code {
      font-size: 12px; line-height: 18px;
      font-family: Monaco, Consolas, "Lucida Console", monospace;
      margin: 0; padding: 0;
    }
    th.code h1 {
      text-align: left;
    }
/*------------------------ Things I've Added ------------------------*/
#ribbon {
  position: absolute;
  top: 0;
  left: 376px;
  border: 0;
}
#title {
  background: url('http://spinnychair.co.cc/img/logo.png') no-repeat;
  text-decoration: none;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #d0d0d0;
}
#alt {
  background: #dddddd;
  height: 500px;
  width: 700px;
  text-align: center;
  color: #bb0000;
  padding: 50px;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
  white-space: normal;
}
#alt a {
  display: block;
  width: 200px;
  height: 150px;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}
.fullscreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/*---------------------- Syntax Highlighting -----------------------------*/
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
body .hll { background-color: #404040 }
body .c { color: #999999; font-style: italic } /* Comment */
body .g { color: #d0d0d0 } /* Generic */
body .k { color: #6ab825; font-weight: bold } /* Keyword */
body .l { color: #d0d0d0 } /* Literal */
body .n { color: #d0d0d0 } /* Name */
body .o { color: #d0d0d0 } /* Operator */
body .x { color: #d0d0d0 } /* Other */
body .p { color: #d0d0d0 } /* Punctuation */
body .cm { color: #999999; font-style: italic } /* Comment.Multiline */
body .cp { color: #cd2828; font-weight: bold } /* Comment.Preproc */
body .c1 { color: #999999; font-style: italic } /* Comment.Single */
body .cs { color: #e50808; font-weight: bold; background-color: #520000 } /* Comment.Special */
body .gd { color: #d22323 } /* Generic.Deleted */
body .ge { color: #d0d0d0; font-style: italic } /* Generic.Emph */
body .gr { color: #d22323 } /* Generic.Error */
body .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
body .gi { color: #589819 } /* Generic.Inserted */
body .go { color: #cccccc } /* Generic.Output */
body .gp { color: #aaaaaa } /* Generic.Prompt */
body .gs { color: #d0d0d0; font-weight: bold } /* Generic.Strong */
body .gu { color: #ffffff; text-decoration: underline } /* Generic.Subheading */
body .gt { color: #d22323 } /* Generic.Traceback */
body .kc { color: #6ab825; font-weight: bold } /* Keyword.Constant */
body .kd { color: #6ab825; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #6ab825; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #6ab825 } /* Keyword.Pseudo */
body .kr { color: #6ab825; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #6ab825; font-weight: bold } /* Keyword.Type */
body .ld { color: #d0d0d0 } /* Literal.Date */
body .m { color: #3677a9 } /* Literal.Number */
body .s { color: #ed9d13 } /* Literal.String */
body .na { color: #bbbbbb } /* Name.Attribute */
body .nb { color: #24909d } /* Name.Builtin */
body .nc { color: #447fcf; text-decoration: underline } /* Name.Class */
body .no { color: #40ffff } /* Name.Constant */
body .nd { color: #ffa500 } /* Name.Decorator */
body .ni { color: #d0d0d0 } /* Name.Entity */
body .ne { color: #bbbbbb } /* Name.Exception */
body .nf { color: #447fcf } /* Name.Function */
body .nl { color: #d0d0d0 } /* Name.Label */
body .nn { color: #447fcf; text-decoration: underline } /* Name.Namespace */
body .nx { color: #d0d0d0 } /* Name.Other */
body .py { color: #d0d0d0 } /* Name.Property */
body .nt { color: #6ab825; font-weight: bold } /* Name.Tag */
body .nv { color: #40ffff } /* Name.Variable */
body .ow { color: #6ab825; font-weight: bold } /* Operator.Word */
body .w { color: #666666 } /* Text.Whitespace */
body .mf { color: #3677a9 } /* Literal.Number.Float */
body .mh { color: #3677a9 } /* Literal.Number.Hex */
body .mi { color: #3677a9 } /* Literal.Number.Integer */
body .mo { color: #3677a9 } /* Literal.Number.Oct */
body .sb { color: #ed9d13 } /* Literal.String.Backtick */
body .sc { color: #ed9d13 } /* Literal.String.Char */
body .sd { color: #ed9d13 } /* Literal.String.Doc */
body .s2 { color: #ed9d13 } /* Literal.String.Double */
body .se { color: #ed9d13 } /* Literal.String.Escape */
body .sh { color: #ed9d13 } /* Literal.String.Heredoc */
body .si { color: #ed9d13 } /* Literal.String.Interpol */
body .sx { color: #ffa500 } /* Literal.String.Other */
body .sr { color: #ed9d13 } /* Literal.String.Regex */
body .s1 { color: #ed9d13 } /* Literal.String.Single */
body .ss { color: #ed9d13 } /* Literal.String.Symbol */
body .bp { color: #24909d } /* Name.Builtin.Pseudo */
body .vc { color: #40ffff } /* Name.Variable.Class */
body .vg { color: #40ffff } /* Name.Variable.Global */
body .vi { color: #40ffff } /* Name.Variable.Instance */
body .il { color: #3677a9 } /* Literal.Number.Integer.Long */
